
body {
   margin: 0;
   padding: 0;
   background-color: #313131;
   font-family: Bank Gothic Medium BT;
   font-size: 16px;

}

.ui-widget, .ui-widget .ui-widget {
    font-family: Bank Gothic Medium BT;
    /*font-size: 95% !important; */
    /*border-style: none !important;*/
}

.heading {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid blue;
  font-size: 1.4em;
/*   font-style: italic; */
  font-family: Bank Gothic Medium BT;
  text-align: center;
  height: 50px;
}

.menuAndContent {
  width: 100%;
  height: 100%;
  font-family: Bank Gothic Medium BT;
}

.menu {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid blue;
  position: absolute;
  left: 10px;
  height: 80%;
  width: 200px;
  background: #FFFFFF;
  top: 90px;
  font-family: Bank Gothic Medium BT;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid blue;
  background: #FFFFFF;	
  position:absolute;
  left: 225px; 
  right: 65px;
  top: 90px;
  height: 80%;
}

.error
{
	border:thin solid red !important;
}